<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />

    <!-- To get stacktrace information for portable and embedded pdbs when net472 installed on machine.
          More details https://github.com/dotnet/designs/blob/master/accepted/diagnostics/debugging-with-symbols-and-sources.md#stack-traces -->
    <AppContextSwitchOverrides value="Switch.System.Diagnostics.IgnorePortablePDBsInStackTraces=false" />

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Test adapters compiled against version 11-14, need to be redirected to version 15. -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.TestPlatform.ObjectModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="11.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.Tips.UnitTest.ObjectModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- This flag is added to support test execution for net35 tests through TMI adapter. -->
    <add key="TestProjectRetargetTo35Allowed" value="true" />
  </appSettings>

  <!--
        To collect logs for vstest.console and it's child processes, follow below steps.
          1. Uncomment below system.diagnostics element content.
          2. Replace "c:\tmp\log.txt" with valid filename. Make sure "c:\tmp" folder exists. log.txt file will be created by vstest.console if does not exists.
          3. Restart vstest.console or it's client(VS, any other IDE).
        More details: https://github.com/Microsoft/vstest-docs/blob/master/docs/diagnose.md#collect-trace-using-config-file
  -->

  <!-- <system.diagnostics>
    <sources>
      <source name="TpTrace" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="logfile"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="All"/>
    </switches>
    <sharedListeners>
      <add name="logfile" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\tmp\log.txt">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
      </add>
    </sharedListeners>
  </system.diagnostics> -->

</configuration>